.cardContainerAppointment{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid 1px rgba(255,255,255, 0.4);
  padding: 5px;
}

.cardHeaderContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cardContentAppointment{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.appointmentBtns{
  background-color: transparent;
  border: none;
  color: darkorange;
  height: 2rem;
  width: 3rem;
}

.apppointmentBtnContainer{
  display: flex;
}