/* Global Styles */

.milanoBookingMain{
  height: 100vh;;
  display: flex;
  gap: 16px;
}

.guestsContainer,
.staffsContainer,
.servicesContainer {
  width: 15vw;
  height: 100%;
  padding: 10px;
  border: solid 1px white;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
}

.appointmentsContainer{
  width: calc(100vw - 45vw - 16px);
  border: solid 1px white;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.cardHeader{
  font-weight: bold;
}

.cardSeparator{
  border: 1px solid lightgrey;
}