/* Global Styles */

.milanoBookingMain{
  height: 100vh;;
  display: flex;
  gap: 16px;
}

.guestsContainer,
.staffsContainer,
.servicesContainer,
.appointmentsContainer {
  width: 15vw;
  height: calc(100% - 25px);
  padding: 10px;
  border: solid 1px white;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
}

.appointmentsContainer{
  width: calc(100vw - 45vw - 16px);
}

.cardMainContainer{
  height: 90%;
}

/* Global Card Styling */
.cardHeader{
  font-weight: bold;
  font-size: 2rem;
}

.cardSeparator{
  border: 1px solid lightgrey;
}

.cardContainer{
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: solid 1px rgba(255,255,255, 0.4);
  padding: 5px;
}

.cardName{
  font-size: 1.3rem;
}

.cardPhoneNumber,
.cardEmail,
.cardDescription{
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}